body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section {

    background:  rgb(223, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: black;
}

.chamada-texto {
    margin-right: 5%;
}